@font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter/static/Inter18pt-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter/static/Inter18pt-SemiBold.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter/static/Inter18pt-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}