:root {
    --font-family: "Inter", sans-serif;

    --color-white: #fff;
    --color-black: #000;
    --color-medium: #D6D6D6;
    --color-health: #7990F8;
    --color-work: #46CF8B;
    --color-mentality: #BC5EAD;
    --color-other: #908986;
    
    --container-width: 430px;
    --container-padding-x: 20px;
    --container-padding-y: 30px;
}